%section#about.dark-bg.light-typo.padding-top-bottom
  %div.container
    %header.section-header.text-center
      %h1
        About Me
      %div.row
        %div.col-sm-8.col-sm-offset-2
          %img.img-responsive.img-center.img-circle{ :src => "assets/mugshot.png", :alt => "" }
          %p.text-center
            I specialise in web development, covering the full web full stack.
            I am based in melbourne.
            I am a musician
        %p.text-center
          %a.btn.btn-meflat.scrollto.white.icon-left{ :href => "#contact" }
            %i.fa.fa-arrow-down
            Hire Me
