%section#community.dark-bg.light-typo.padding-top-bottom
  %div.container
    %header.section-header
      %h1.text-center
        Community
      .col-xs-4
        %h3
          Ruby on rails meetups
        %p
          I am a regular attender of the meetups held by the Ruby community. I'm always looking for any chance to hear what others are doing with similar technology and it is a fantastic to do that through the talks and shared meals.
      .col-xs-4
        %h3
          Inspire9
        %p
          I have spent the last 3 years as a resident of the Inspire9 co-working space, one of those as a full time resident. Co-working has had a large influence on my development as a Software Engineer, from sharing my own successes and problems I have with my own projects to the inspiration of hearing the exciting projects that others are undertaking being part of a co-working space and Inspire9 in particular has really help me decide that being a Developer is a worthwhile and satisfying career pursuit.
      .col-xs-4
        %h3
          Online
        %p
          I value the contributions to public knowledge bases and software projects that others have made. As I've developed my skills I have and continue to look for ways to give back to this community.
        %ul
          %li Github
          %li Stack Overflow

