%section#education.dark-bg.light-typo.padding-top-bottom
  %div.container
    %header.section-header
      %h1.text-center
        Education
      %p
        B. Engineering (Software) Honours. - University of Melbourne - 2012
      .col-xs-6
        %h3
          Coursework of interest
        %p
          Advanced database structures
        %p
          Machine learning
        %p
          Algorithms and Data Structures
      .col-xs-6
        %h3
          Projects of interest
        %p
          Aural frequency recognition iOS application
