%section#education.white-bg.padding-top-bottom
  %div.container
    %header.section-header.text-center
      %h1 
        Education
      %p
        B. Engineering (Software) Honours. - University of Melbourne - 2012
      %div.list-group
        %div.list-group-item
          %h3
            Coursework of interest
        %div.list-group-item
          Advanced database structures
        %div.list-group-item
          Machine learning
        %div.list-group-item
          Algorithms and Data Structures
        %div.list-group-item
          %h3
            Projects of interest
        %div.list-group-item
          Aural frequency recognition iOS application
