%section#education.dark-bg.light-typo.padding-top-bottom
  %div.container
    %header.section-header.text-center
      %h1 
        Education
      %p
        B. Engineering (Software) Honours. - University of Melbourne - 2012
      %h3
        Coursework of interest
      %p
        Advanced database structures
      %p
        Machine learning
      %p
        Algorithms and Data Structures
      %h3
        Projects of interest
      %p
        Aural frequency recognition iOS application
