%section#experience.white-bg.padding-top-bottom
  %div.container
    %header.section-header.text-center
      %h1 
        Experience
      %div.list-group
        %div.list-group-item
          %h3
            Wakeless.net (Feb 2010 - Jan 2013)
          %ul
            %li ASN Events Management (now known as Currinda) - PHP application
            %li IRL Shooter
        %div.list-group-item
          %h3
            Currinda (Jan 2013 - current)
          %ul
            %li Conference management
            %li Organisation membership list management 
            %li Social and schedule mobile application for conferences

