%section#experience.dark-bg.light-typo.padding-top-bottom
  %div.container
    %header.section-header
      %h1.text-center
        Experience
      .col-xs-6
        %h3
          Wakeless.net (Feb 2010 - Jan 2013)
        %ul
          %li ASN Events Management (now known as Currinda) - PHP application
          %li IRL Shooter
      .col-xs-6
        %h3
          Currinda (Jan 2013 - current)
        %ul
          %li Conference management
          %li Organisation membership list management 
          %li Social and schedule mobile application for conferences
