%footer#main-footer.dark-bg.light-typo
  .container
    .row
      .col-sm-6
        %ul.social-links
          %li.scrollimation.fade-right.d4
            %a{ :href => "link" }
              %i.fa.fa-twitter.fa-fw
      .col-sm-6
