%header#home.jumbotron
  %div.container
    %div.row
      %div.col-sm-6
        %p
          Hi, I'm Tim. I'm a Melbourne based Software Engineer.
      %div.col-sm-6
        %div.imac-frame
          %img.img-responsive.img-center{ :src => "assets/imac.png", :alt =>"" }
          %div.imac-screen.flexslider
            %ul.slides
              %li
                %img{ :src => "assets/placeholder-450x270.jpg", :alt => "" }
              %li
                %img{ :src => "assets/placeholder-450x270.jpg", :alt => "" }
              %li
                %img{ :src => "assets/placeholder-450x270.jpg", :alt => "" }
