%header#home.jumbotron
  %div.container
    %div.row.text-col
      %div.col-sm-6
        %h1
          Hi, I'm Tim. 
        .hero-attributes.flexslider
          %ul.slides
            %li
              %h3
                I am a Software Engineer.
            %li
              %h3
                I am based in Melbourne, Australia.
            %li
              %h3
                I am a Musician.
      %div.col-sm-6
        %div.imac-frame
          %img.img-responsive.img-center{ :src => "assets/imac.png", :alt =>"" }
          %div.imac-screen.flexslider
            %ul.slides
              %li
                %img{ :src => "assets/placeholder-450x270.jpg", :alt => "" }
              %li
                %img{ :src => "assets/placeholder-450x270.jpg", :alt => "" }
              %li
                %img{ :src => "assets/placeholder-450x270.jpg", :alt => "" }
