%div#main-nav.navbar.navbar-fixed-top.scrolled
  %div.container
    %div#site-nav.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a.scrollto{ :href => "#services" }
            What I do?
        %li
          %a.scrollto{ :href => "#about" }
            About Me
        %li
          %a.scrollto{ :href => "#skills" }
            Skills
        %li
          %a.scrollto{ :href => "#experience" }
            Experience
        %li
          %a.scrollto{ :href => "#education" }
            Education
        %li
          %a.scrollto{ :href => "#contact" }
            Contact Me
