#scroller
  .section.active
    = partial "education"
  .section
    = partial "experience"
  .section
    = partial "community"

  .col-sm-4
    %a.btn.btn-default{ :data => { :target => "#education" } }
      Education
  .col-sm-4
    %a.btn.btn-default{ :data => { :target => "#experience" } }
      Experience
  .col-sm-4
    %a.btn.btn-default{ :data => { :target => "#community" } }
      Community
