#scroller
  .section.active
    = partial "education"
  .section
    = partial "experience"
  .section
    = partial "community"

  .actions
    .col-sm-6
      %a.btn.btn-default{ :data => { :target => "#education" } }
        Education
    .col-sm-6
      %a.btn.btn-default{ :data => { :target => "#experience" } }
        Experience

  %a.left
     
