%section#skills.white-bg
  %div.container
    %div.row.skills
      %h1.text-center
        Skills
      %div.col-sm-6.col-md-3.text-center
        %span.chart{ :data => { :percent => 80 } }
          %span.percent
            80
        %h3.text-center
          Development
        %ul
          %li Experienced at designing complex web applications using PHP
          %li Maintaining relational databases for web applications with 100,000+ users
          %li Designing accessible API's using Ruby on rails. 

      %div.col-sm-6.col-md-3.text-center
        %span.chart{ :data => { :percent => 80 } }
          %span.percent
            80
        %h3.text-center
          Testing
        %ul
          %li Practical applications of TDD and BDD practises.
          %li Unit testing with PHPUnit
          %li Feature acceptance testing using Selenium webdriver.

      %div.col-sm-6.col-md-3.text-center
        %span.chart{ :data => { :percent => 80 } }
          %span.percent
            80
        %h3.text-center
          Design
        %ul
          %li Designing responsive web applications for all devices using jQuery, Bootstrap and pJax
          %li Rendering complex data in meaningful ways.

      %div.col-sm-6.col-md-3.text-center
        %span.chart{ :data => { :percent => 80 } }
          %span.percent
            80
        %h3.text-center
          Teamwork
        %ul
          %li Adopting Agile practises to iterate quickly on products/features.
