%section#services.padding-top-bottom
  %div.container
    %header.section-header.text-center
      %h1.scrollimation.scale-in
        What I do
      %p
        I am passionate about building software product that people can use, enjoy and rely on.
    %div.row.services
      %div.col-md-3.col-sm-6.item.scrollimation.fade-up
        .service-heading
          .icon
            %i.fa.fa-pencil.icon-heading
          %h2
            Software Design
        %p
          <strong>I start with a plan.</strong> I see software products through, from concept to delivery date.
      %div.col-md-3.col-sm-6.item.scrollimation.fade-up
        .service-heading
          .icon
            %i.fa.fa-code.icon-heading
          %h2
            Web development
        %p
          <strong>I am interested in all things web</strong>. I love dealing with data, finding meaningful ways to display it and tailoring it to a platform.
      %div.col-md-3.col-sm-6.item.scrollimation.fade-up
        .service-heading
          .icon
            %i.fa.fa-cogs.icon-heading
          %h2
            Testing
        %p
          %strong
            I build software on a foundation of testing. 
          I believe that delivering a product is more than just making sure it works on day 1. It is about making sure that day 2, 3 and beyond work just as well.
      %div.col-md-3.col-sm-6.item.scrollimation.fade-up
        .service-heading
          .icon
            %i.fa.fa-paint-brush.icon-heading
          %h2
            UI Development
        %p
          <strong>I build software product that you can use.</strong> Software must be intuitive for the target audience, that is the core element of my development.
            
